In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
os.chdir('/work2/10031/gracesstew/PACIOOS')

In [6]:
#2018
jan18 = pd.read_csv('JAN2018..csv')
feb18 = pd.read_csv('FEB2018..csv')
mar18 = pd.read_csv('MAR2018..csv')
apr18 = pd.read_csv('APR2018..csv')
may18 = pd.read_csv('MAY2018..csv')
jun18 = pd.read_csv('JUN2018..csv')
jul18 = pd.read_csv('JUL2018..csv')
aug18 = pd.read_csv('AUG2018..csv')
sep18 = pd.read_csv('SEP2018..csv')
oct18 = pd.read_csv('OCT2018..csv')
nov18 = pd.read_csv('NOV2018.csv')
dec18 = pd.read_csv('DEC2018.csv')

In [7]:
#2019
jan19 = pd.read_csv('JAN2019.csv')
feb19 = pd.read_csv('FEB2019.csv')
mar19 = pd.read_csv('MAR2019.csv')
apr19 = pd.read_csv('ARR2019.csv')
may19 = pd.read_csv('MAY2019.csv')
jun19 = pd.read_csv('JUN2019.csv')
jul19 = pd.read_csv('JUL2019.csv')
aug19 = pd.read_csv('AUG2019.csv')
sep19 = pd.read_csv('SEP2019.csv')
oct19 = pd.read_csv('OCT2019.csv')
nov19 = pd.read_csv('NOV2019.csv')
dec19 = pd.read_csv('DEC2019.csv')

In [8]:
#2020
jan20 = pd.read_csv('JAN2020.csv')
feb20 = pd.read_csv('FEB2020.csv')
mar20 = pd.read_csv('MAR2020.csv')
apr20 = pd.read_csv('APR2020.csv')
may20 = pd.read_csv('MAY2020.csv')
jun20 = pd.read_csv('JUN2020.csv')
jul20 = pd.read_csv('JUL2020.csv')
aug20 = pd.read_csv('AUG2020.csv')
sep20 = pd.read_csv('SEP2020.csv')
oct20 = pd.read_csv('OCT2020.csv')
nov20 = pd.read_csv('NOV2020.csv')
dec20 = pd.read_csv('DEC2020.csv')

In [9]:
#2021
jan21 = pd.read_csv('JAN2021.csv')
feb21 = pd.read_csv('FEB2021.csv')
mar21 = pd.read_csv('MAR2021.csv')
apr21 = pd.read_csv('APR2021.csv')
may21 = pd.read_csv('MAY2021.csv')
jun21 = pd.read_csv('JUN2021.csv')
jul21 = pd.read_csv('JUL2021.csv')
aug21 = pd.read_csv('AUG2021.csv')
sep21 = pd.read_csv('SEP2021.csv')
oct21 = pd.read_csv('OCT2021.csv')
nov21 = pd.read_csv('NOV2021.csv')
dec21 = pd.read_csv('DEC2021.csv')

In [10]:
#2022
jan22 = pd.read_csv('JAN2022.csv')
feb22 = pd.read_csv('FEB2022.csv')
mar22 = pd.read_csv('MAR2022.csv')
apr22 = pd.read_csv('APR2022.csv')
may22 = pd.read_csv('MAY2022.csv')
jun22 = pd.read_csv('JUN2022.csv')
jul22 = pd.read_csv('JUL2022.csv')
aug22 = pd.read_csv('AUG2022.csv')
sep22 = pd.read_csv('SEP2022.csv')
oct22 = pd.read_csv('OCT2022.csv')
nov22 = pd.read_csv('NOV2022.csv')
dec22 = pd.read_csv('DEC2022.csv')

In [11]:
#2023
jan23 = pd.read_csv('JAN2023.csv')
feb23 = pd.read_csv('FEB2023.csv')
mar23 = pd.read_csv('MAR2023.csv')
apr23 = pd.read_csv('APR2023.csv')
may23 = pd.read_csv('MAY2023.csv')
jun23 = pd.read_csv('JUN2023.csv')
jul23 = pd.read_csv('JUL2023.csv')
aug23 = pd.read_csv('AUG2023.csv')
sep23 = pd.read_csv('SEP2023.csv')
oct23 = pd.read_csv('OCT2023.csv')
nov23 = pd.read_csv('NOV2023.csv')
dec23 = pd.read_csv('DEC2023.csv')

In [12]:
#2024
jan24 = pd.read_csv('JAN2024.csv')
feb24 = pd.read_csv('FEB2024.csv')
mar24 = pd.read_csv('MAR2024.csv')
apr24 = pd.read_csv('APR2024.csv')
may24 = pd.read_csv('MAY2024.csv')
jun24 = pd.read_csv('JUN2024.csv')
jul24 = pd.read_csv('JUL2024.csv')
aug24 = pd.read_csv('AUG2024.csv')
sep24 = pd.read_csv('SEP2024.csv')
oct24 = pd.read_csv('OCT2024.csv')
nov24 = pd.read_csv('NOV2024.csv')
dec24 = pd.read_csv('DEC2024.csv')

In [13]:
#2025
jan25 = pd.read_csv('JAN2025.csv')
feb25 = pd.read_csv('FEB2025.csv')
mar25 = pd.read_csv('MAR2025.csv')
apr25 = pd.read_csv('APR2025.csv')
may25 = pd.read_csv('MAY2025.csv')
jun25 = pd.read_csv('JUN2025.csv')

In [14]:
##drop data

#2018
jan18 = jan18.drop(jan18.columns[5], axis=1)
feb18 = feb18.drop(feb18.columns[5], axis=1)
mar18 = mar18.drop(mar18.columns[5], axis=1)
apr18 = apr18.drop(apr18.columns[5], axis=1)
may18 = may18.drop(may18.columns[5], axis=1)
jun18 = jun18.drop(jun18.columns[5], axis=1)
jul18 = jul18.drop(jul18.columns[5], axis=1)
aug18 = aug18.drop(aug18.columns[5], axis=1)
sep18 = sep18.drop(sep18.columns[5], axis=1)
oct18 = oct18.drop(oct18.columns[5], axis=1)
nov18 = nov18.drop(nov18.columns[5], axis=1)
dec18 = dec18.drop(dec18.columns[5], axis=1)

#2019
jan19 = jan19.drop(jan19.columns[5], axis=1)
feb19 = feb19.drop(feb19.columns[5], axis=1)
mar19 = mar19.drop(mar19.columns[5], axis=1)
apr19 = apr19.drop(apr19.columns[5], axis=1)
may19 = may19.drop(may19.columns[5], axis=1)
jun19 = jun19.drop(jun19.columns[5], axis=1)
jul19 = jul19.drop(jul19.columns[5], axis=1)
aug19 = aug19.drop(aug19.columns[5], axis=1)
sep19 = sep19.drop(sep19.columns[5], axis=1)
oct19 = oct19.drop(oct19.columns[5], axis=1)
nov19 = nov19.drop(nov19.columns[5], axis=1)
dec19 = dec19.drop(dec19.columns[5], axis=1)

#2020
jan20 = jan20.drop(jan20.columns[5], axis=1)
feb20 = feb20.drop(feb20.columns[5], axis=1)
mar20 = mar20.drop(mar20.columns[5], axis=1)
apr20 = apr20.drop(apr20.columns[5], axis=1)
may20 = may20.drop(may20.columns[5], axis=1)
jun20 = jun20.drop(jun20.columns[5], axis=1)
jul20 = jul20.drop(jul20.columns[5], axis=1)
aug20 = aug20.drop(aug20.columns[5], axis=1)
sep20 = sep20.drop(sep20.columns[5], axis=1)
oct20 = oct20.drop(oct20.columns[5], axis=1)
nov20 = nov20.drop(nov20.columns[5], axis=1)
dec20 = dec20.drop(dec20.columns[5], axis=1)

#2021
jan21 = jan21.drop(jan21.columns[5], axis=1)
feb21 = feb21.drop(feb21.columns[5], axis=1)
mar21 = mar21.drop(mar21.columns[5], axis=1)
apr21 = apr21.drop(apr21.columns[5], axis=1)
may21 = may21.drop(may21.columns[5], axis=1)
jun21 = jun21.drop(jun21.columns[5], axis=1)
jul21 = jul21.drop(jul21.columns[5], axis=1)
aug21 = aug21.drop(aug21.columns[5], axis=1)
sep21 = sep21.drop(sep21.columns[5], axis=1)
oct21 = oct21.drop(oct21.columns[5], axis=1)
nov21 = nov21.drop(nov21.columns[5], axis=1)
dec21 = dec21.drop(dec21.columns[5], axis=1)

#2022
jan22 = jan22.drop(jan22.columns[5], axis=1)
feb22 = feb22.drop(feb22.columns[5], axis=1)
mar22 = mar22.drop(mar22.columns[5], axis=1)
apr22 = apr22.drop(apr22.columns[5], axis=1)
may22 = may22.drop(may22.columns[5], axis=1)
jun22 = jun22.drop(jun22.columns[5], axis=1)
jul22 = jul22.drop(jul22.columns[5], axis=1)
aug22 = aug22.drop(aug22.columns[5], axis=1)
sep22 = sep22.drop(sep22.columns[5], axis=1)
oct22 = oct22.drop(oct22.columns[5], axis=1)
nov22 = nov22.drop(nov22.columns[5], axis=1)
dec22 = dec22.drop(dec22.columns[5], axis=1)

#2023
jan23 = jan23.drop(jan23.columns[5], axis=1)
feb23 = feb23.drop(feb23.columns[5], axis=1)
mar23 = mar23.drop(mar23.columns[5], axis=1)
apr23 = apr23.drop(apr23.columns[5], axis=1)
may23 = may23.drop(may23.columns[5], axis=1)
jun23 = jun23.drop(jun23.columns[5], axis=1)
jul23 = jul23.drop(jul23.columns[5], axis=1)
aug23 = aug23.drop(aug23.columns[5], axis=1)
sep23 = sep23.drop(sep23.columns[5], axis=1)
oct23 = oct23.drop(oct23.columns[5], axis=1)
nov23 = nov23.drop(nov23.columns[5], axis=1)
dec23 = dec23.drop(dec23.columns[5], axis=1)

#2024
jan24 = jan24.drop(jan24.columns[5], axis=1)
feb24 = feb24.drop(feb24.columns[5], axis=1)
mar24 = mar24.drop(mar24.columns[5], axis=1)
apr24 = apr24.drop(apr24.columns[5], axis=1)
may24 = may24.drop(may24.columns[5], axis=1)
jun24 = jun24.drop(jun24.columns[5], axis=1)
jul24 = jul24.drop(jul24.columns[5], axis=1)
aug24 = aug24.drop(aug24.columns[5], axis=1)
sep24 = sep24.drop(sep24.columns[5], axis=1)
oct24 = oct24.drop(oct24.columns[5], axis=1)
nov24 = nov24.drop(nov24.columns[5], axis=1)
dec24 = dec24.drop(dec24.columns[5], axis=1)

#2025
jan25 = jan25.drop(jan25.columns[5], axis=1)
feb25 = feb25.drop(feb25.columns[5], axis=1)
mar25 = mar25.drop(mar25.columns[5], axis=1)
apr25 = apr25.drop(apr25.columns[5], axis=1)
may25 = may25.drop(may25.columns[5], axis=1)
jun25 = jun25.drop(jun25.columns[5], axis=1)

In [15]:
print(jan18.columns)
jan18.head()

Index(['HST: Hawaii Standard Time (UTC -10:00)', 'Water Temperature (degF)',
       'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'],
      dtype='object')

,HST: Hawaii Standard Time (UTC -10:00),Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L)
0,2018-01-01 00:00:28,80.57,32.04,1.94,1.24
1,2018-01-01 00:04:28,80.58,32.09,1.94,1.18
2,2018-01-01 00:08:28,80.57,32.06,2.04,1.17
3,2018-01-01 00:12:28,80.58,32.11,2.06,1.27
4,2018-01-01 00:16:28,80.60,32.13,2.02,1.18

In [17]:
jan18['HST: Hawaii Standard Time (UTC -10:00)'] = pd.to_datetime(
    jan18['HST: Hawaii Standard Time (UTC -10:00)'],
    format='%Y-%m-%d %H:%M:%S',  # specify the exact format
    errors='coerce'               # invalid values become NaT
)
jan18.head()

jan18['month'] = jan18['HST: Hawaii Standard Time (UTC -10:00)'].dt.to_period('M')
jan18_avg = jan18.groupby('month')[['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)']].mean().reset_index()
print(jan18_avg)

     month  Water Temperature (degF)  Salinity (PSU)  Turbidity (NTU)  \
0  2018-01                 79.891204       31.723171         1.919315

   Chlorophyll (ug/L)
0            3.220971

In [18]:
def monthly_avg(df, date_col, value_cols):
    df[date_col] = pd.to_datetime(df[date_col], format='%Y-%m-%d %H:%M:%S', errors='coerce')
    df['month'] = df[date_col].dt.to_period('M')
    return df.groupby('month')[value_cols].mean().reset_index()

In [19]:
feb18_avg = monthly_avg(
    feb18,
    date_col='HST: Hawaii Standard Time (UTC -10:00)',
    value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)']
)
print(feb18_avg)

     month  Water Temperature (degF)  Salinity (PSU)  Turbidity (NTU)  \
0  2018-02                 79.309341        31.11968         1.639482

   Chlorophyll (ug/L)
0            2.639715

In [20]:
# 2018
jan18_avg = monthly_avg(jan18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb18_avg = monthly_avg(feb18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar18_avg = monthly_avg(mar18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr18_avg = monthly_avg(apr18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may18_avg = monthly_avg(may18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun18_avg = monthly_avg(jun18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul18_avg = monthly_avg(jul18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug18_avg = monthly_avg(aug18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep18_avg = monthly_avg(sep18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct18_avg = monthly_avg(oct18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov18_avg = monthly_avg(nov18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec18_avg = monthly_avg(dec18, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2019
jan19_avg = monthly_avg(jan19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb19_avg = monthly_avg(feb19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar19_avg = monthly_avg(mar19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr19_avg = monthly_avg(apr19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may19_avg = monthly_avg(may19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun19_avg = monthly_avg(jun19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul19_avg = monthly_avg(jul19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug19_avg = monthly_avg(aug19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep19_avg = monthly_avg(sep19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct19_avg = monthly_avg(oct19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov19_avg = monthly_avg(nov19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec19_avg = monthly_avg(dec19, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2020
jan20_avg = monthly_avg(jan20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb20_avg = monthly_avg(feb20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar20_avg = monthly_avg(mar20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr20_avg = monthly_avg(apr20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may20_avg = monthly_avg(may20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun20_avg = monthly_avg(jun20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul20_avg = monthly_avg(jul20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug20_avg = monthly_avg(aug20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep20_avg = monthly_avg(sep20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct20_avg = monthly_avg(oct20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov20_avg = monthly_avg(nov20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec20_avg = monthly_avg(dec20, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2021
jan21_avg = monthly_avg(jan21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb21_avg = monthly_avg(feb21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar21_avg = monthly_avg(mar21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr21_avg = monthly_avg(apr21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may21_avg = monthly_avg(may21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun21_avg = monthly_avg(jun21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul21_avg = monthly_avg(jul21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug21_avg = monthly_avg(aug21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep21_avg = monthly_avg(sep21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct21_avg = monthly_avg(oct21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov21_avg = monthly_avg(nov21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec21_avg = monthly_avg(dec21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2022
jan22_avg = monthly_avg(jan22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb22_avg = monthly_avg(feb22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar22_avg = monthly_avg(mar22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr22_avg = monthly_avg(apr22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may22_avg = monthly_avg(may22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun22_avg = monthly_avg(jun22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul22_avg = monthly_avg(jul22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug22_avg = monthly_avg(aug22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep22_avg = monthly_avg(sep22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct22_avg = monthly_avg(oct22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov22_avg = monthly_avg(nov22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec22_avg = monthly_avg(dec22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2023
jan23_avg = monthly_avg(jan23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb23_avg = monthly_avg(feb23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar23_avg = monthly_avg(mar23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr23_avg = monthly_avg(apr23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may23_avg = monthly_avg(may23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun23_avg = monthly_avg(jun23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul23_avg = monthly_avg(jul23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug23_avg = monthly_avg(aug23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep23_avg = monthly_avg(sep23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct23_avg = monthly_avg(oct23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov23_avg = monthly_avg(nov23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec23_avg = monthly_avg(dec23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2024
jan24_avg = monthly_avg(jan24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb24_avg = monthly_avg(feb24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar24_avg = monthly_avg(mar24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr24_avg = monthly_avg(apr24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may24_avg = monthly_avg(may24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun24_avg = monthly_avg(jun24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul24_avg = monthly_avg(jul24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug24_avg = monthly_avg(aug24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep24_avg = monthly_avg(sep24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct24_avg = monthly_avg(oct24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov24_avg = monthly_avg(nov24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec24_avg = monthly_avg(dec24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2025 (up to June)
jan25_avg = monthly_avg(jan25, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb25_avg = monthly_avg(feb25, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar25_avg = monthly_avg(mar25, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr25_avg = monthly_avg(apr25, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may25_avg = monthly_avg(may25, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun25_avg = monthly_avg(jun25, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

In [21]:
all_avg_dfs = [
    jan18_avg, feb18_avg, mar18_avg, apr18_avg, may18_avg, jun18_avg, jul18_avg, aug18_avg, sep18_avg, oct18_avg, nov18_avg, dec18_avg,
    jan19_avg, feb19_avg, mar19_avg, apr19_avg, may19_avg, jun19_avg, jul19_avg, aug19_avg, sep19_avg, oct19_avg, nov19_avg, dec19_avg,
    jan20_avg, feb20_avg, mar20_avg, apr20_avg, may20_avg, jun20_avg, jul20_avg, aug20_avg, sep20_avg, oct20_avg, nov20_avg, dec20_avg,
    jan21_avg, feb21_avg, mar21_avg, apr21_avg, may21_avg, jun21_avg, jul21_avg, aug21_avg, sep21_avg, oct21_avg, nov21_avg, dec21_avg,
    jan22_avg, feb22_avg, mar22_avg, apr22_avg, may22_avg, jun22_avg, jul22_avg, aug22_avg, sep22_avg, oct22_avg, nov22_avg, dec22_avg,
    jan23_avg, feb23_avg, mar23_avg, apr23_avg, may23_avg, jun23_avg, jul23_avg, aug23_avg, sep23_avg, oct23_avg, nov23_avg, dec23_avg,
    jan24_avg, feb24_avg, mar24_avg, apr24_avg, may24_avg, jun24_avg, jul24_avg, aug24_avg, sep24_avg, oct24_avg, nov24_avg, dec24_avg,
    jan25_avg, feb25_avg, mar25_avg, apr25_avg, may25_avg, jun25_avg
]
combined_avg = pd.concat(all_avg_dfs, ignore_index=True)

combined_avg.head()

,month,Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L)
0,2018-01,79.891204,31.723171,1.919315,3.220971
1,2018-02,79.309341,31.119680,1.639482,2.639715
2,2018-03,79.152026,31.250279,1.481051,2.529561
3,2018-04,80.045995,31.349549,3.003634,2.544006
4,2018-05,79.881787,32.353888,1.395863,4.219175

In [22]:
#save to csv
#combined_avg.to_csv('PacIOOS_yacht.csv', index=False)

In [23]:
display(combined_avg)

,month,Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L)
0,2018-01,79.891204,31.723171,1.919315,3.220971
1,2018-02,79.309341,31.119680,1.639482,2.639715
2,2018-03,79.152026,31.250279,1.481051,2.529561
3,2018-04,80.045995,31.349549,3.003634,2.544006
4,2018-05,79.881787,32.353888,1.395863,4.219175
...,...,...,...,...,...
85,2025-02,78.721396,33.712975,1.959614,2.719053
86,2025-03,78.609412,33.836903,1.841894,1.689579
87,2025-04,79.639883,33.479339,2.741683,1.863629
88,2025-05,80.039774,33.848370,7.490003,2.884597
89,2025-06,80.640600,33.919174,0.502357,1.282840

In [3]:
os.chdir('/work2/10031/gracesstew/PACIOOS_MLB')

In [4]:
#2021
jan21 = pd.read_csv('JAN21.csv')
feb21 = pd.read_csv('FEB21.csv')
mar21 = pd.read_csv('MAR21.csv')
apr21 = pd.read_csv('APR21.csv')
may21 = pd.read_csv('MAY21.csv')
jun21 = pd.read_csv('JUN21.csv')
jul21 = pd.read_csv('JUL21.csv')
aug21 = pd.read_csv('AUG21.csv')
sep21 = pd.read_csv('SEP21.csv')
oct21 = pd.read_csv('OCT21.csv')
nov21 = pd.read_csv('NOV21.csv')
dec21 = pd.read_csv('DEC21.csv')

#2022
jan22 = pd.read_csv('JAN22.csv')
feb22 = pd.read_csv('FEB22.csv')
mar22 = pd.read_csv('MAR22.csv')
apr22 = pd.read_csv('APR22.csv')
may22 = pd.read_csv('MAY22.csv')
jun22 = pd.read_csv('JUN22.csv')
jul22 = pd.read_csv('JUL22.csv')
aug22 = pd.read_csv('AUG22.csv')
sep22 = pd.read_csv('SEP22.csv')
oct22 = pd.read_csv('OCT22.csv')
nov22 = pd.read_csv('NOV22.csv')
dec22 = pd.read_csv('DEC22.csv')

#2023
jan23 = pd.read_csv('JAN23.csv')
feb23 = pd.read_csv('FEB23.csv')
mar23 = pd.read_csv('MAR23.csv')
apr23 = pd.read_csv('APR23.csv')
may23 = pd.read_csv('MAY23.csv')
jun23 = pd.read_csv('JUN23.csv')
jul23 = pd.read_csv('JUL23.csv')
aug23 = pd.read_csv('AUG23.csv')
sep23 = pd.read_csv('SEP23.csv')
oct23 = pd.read_csv('OCT23.csv')
nov23 = pd.read_csv('NOV23.csv')
dec23 = pd.read_csv('DEC23.csv')

#2024
jan24 = pd.read_csv('JAN24.csv')
feb24 = pd.read_csv('FEB24.csv')
mar24 = pd.read_csv('MAR24.csv')
apr24 = pd.read_csv('APR24.csv')
may24 = pd.read_csv('MAY24.csv')
jun24 = pd.read_csv('JUN24.csv')
jul24 = pd.read_csv('JUL24.csv')
aug24 = pd.read_csv('AUG24.csv')
sep24 = pd.read_csv('SEP24.csv')

In [5]:
display(sep24)

,HST: Hawaii Standard Time (UTC -10:00),Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L),Sensor Depth (m),Station
0,2024-09-01 00:01:05,82.16,34.87,2.72,1.16,1.68,NaN
1,2024-09-01 00:05:05,82.16,34.87,2.84,1.21,1.66,NaN
2,2024-09-01 00:09:05,82.17,34.87,3.26,1.09,1.65,NaN
3,2024-09-01 00:13:05,82.17,34.87,3.28,1.08,1.67,NaN
4,2024-09-01 00:17:05,82.17,34.87,2.73,1.04,1.68,NaN
...,...,...,...,...,...,...,...
10795,2024-09-30 23:41:05,79.95,35.26,6.62,1.37,1.69,NaN
10796,2024-09-30 23:45:05,79.95,35.26,7.69,1.26,1.71,NaN
10797,2024-09-30 23:49:05,79.92,35.26,7.03,1.36,1.71,NaN
10798,2024-09-30 23:53:05,79.91,35.26,7.17,1.24,1.73,NaN
10799,2024-09-30 23:57:05,79.91,35.26,6.54,1.27,1.76,NaN

In [9]:
#2021
jan21 = jan21.drop(jan21.columns[5:6], axis=1)
feb21 = feb21.drop(feb21.columns[5:6], axis=1)
mar21 = mar21.drop(mar21.columns[5:6], axis=1)
apr21 = apr21.drop(apr21.columns[5:6], axis=1)
may21 = may21.drop(may21.columns[5:6], axis=1)
jun21 = jun21.drop(jun21.columns[5:6], axis=1)
jul21 = jul21.drop(jul21.columns[5:6], axis=1)
aug21 = aug21.drop(aug21.columns[5:6], axis=1)
sep21 = sep21.drop(sep21.columns[5:6], axis=1)
oct21 = oct21.drop(oct21.columns[5:6], axis=1)
nov21 = nov21.drop(nov21.columns[5:6], axis=1)
dec21 = dec21.drop(dec21.columns[5:6], axis=1)

#2022
jan22 = jan22.drop(jan22.columns[5:6], axis=1)
feb22 = feb22.drop(feb22.columns[5:6], axis=1)
mar22 = mar22.drop(mar22.columns[5:6], axis=1)
apr22 = apr22.drop(apr22.columns[5:6], axis=1)
may22 = may22.drop(may22.columns[5:6], axis=1)
jun22 = jun22.drop(jun22.columns[5:6], axis=1)
jul22 = jul22.drop(jul22.columns[5:6], axis=1)
aug22 = aug22.drop(aug22.columns[5:6], axis=1)
sep22 = sep22.drop(sep22.columns[5:6], axis=1)
oct22 = oct22.drop(oct22.columns[5:6], axis=1)
nov22 = nov22.drop(nov22.columns[5:6], axis=1)
dec22 = dec22.drop(dec22.columns[5:6], axis=1)

#2023
jan23 = jan23.drop(jan23.columns[5:6], axis=1)
feb23 = feb23.drop(feb23.columns[5:6], axis=1)
mar23 = mar23.drop(mar23.columns[5:6], axis=1)
apr23 = apr23.drop(apr23.columns[5:6], axis=1)
may23 = may23.drop(may23.columns[5:6], axis=1)
jun23 = jun23.drop(jun23.columns[5:6], axis=1)
jul23 = jul23.drop(jul23.columns[5:6], axis=1)
aug23 = aug23.drop(aug23.columns[5:6], axis=1)
sep23 = sep23.drop(sep23.columns[5:6], axis=1)
oct23 = oct23.drop(oct23.columns[5:6], axis=1)
nov23 = nov23.drop(nov23.columns[5:6], axis=1)
dec23 = dec23.drop(dec23.columns[5:6], axis=1)

#2024
jan24 = jan24.drop(jan24.columns[5:6], axis=1)
feb24 = feb24.drop(feb24.columns[5:6], axis=1)
mar24 = mar24.drop(mar24.columns[5:6], axis=1)
apr24 = apr24.drop(apr24.columns[5:6], axis=1)
may24 = may24.drop(may24.columns[5:6], axis=1)
jun24 = jun24.drop(jun24.columns[5:6], axis=1)
jul24 = jul24.drop(jul24.columns[5:6], axis=1)
aug24 = aug24.drop(aug24.columns[5:6], axis=1)
sep24 = sep24.drop(sep24.columns[5:6], axis=1)

In [10]:
print(jan21.columns)
jan21.head()

Index(['HST: Hawaii Standard Time (UTC -10:00)', 'Water Temperature (degF)',
       'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'],
      dtype='object')

,HST: Hawaii Standard Time (UTC -10:00),Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L)
0,2021-01-01 00:00:28,76.64,34.75,7.81,0.61
1,2021-01-01 00:04:28,76.68,34.75,7.50,0.49
2,2021-01-01 00:08:28,76.69,34.75,7.43,0.42
3,2021-01-01 00:12:28,76.70,34.75,8.09,0.68
4,2021-01-01 00:16:28,76.69,34.75,7.79,0.61

In [11]:
def monthly_avg(df, date_col, value_cols):
    df[date_col] = pd.to_datetime(df[date_col], format='%Y-%m-%d %H:%M:%S', errors='coerce')
    df['month'] = df[date_col].dt.to_period('M')
    return df.groupby('month')[value_cols].mean().reset_index()

In [12]:
# 2021
jan21_avg = monthly_avg(jan21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb21_avg = monthly_avg(feb21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar21_avg = monthly_avg(mar21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr21_avg = monthly_avg(apr21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may21_avg = monthly_avg(may21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun21_avg = monthly_avg(jun21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul21_avg = monthly_avg(jul21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug21_avg = monthly_avg(aug21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep21_avg = monthly_avg(sep21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct21_avg = monthly_avg(oct21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov21_avg = monthly_avg(nov21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec21_avg = monthly_avg(dec21, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2022
jan22_avg = monthly_avg(jan22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb22_avg = monthly_avg(feb22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar22_avg = monthly_avg(mar22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr22_avg = monthly_avg(apr22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may22_avg = monthly_avg(may22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun22_avg = monthly_avg(jun22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul22_avg = monthly_avg(jul22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug22_avg = monthly_avg(aug22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep22_avg = monthly_avg(sep22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct22_avg = monthly_avg(oct22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov22_avg = monthly_avg(nov22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec22_avg = monthly_avg(dec22, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2023
jan23_avg = monthly_avg(jan23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb23_avg = monthly_avg(feb23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar23_avg = monthly_avg(mar23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr23_avg = monthly_avg(apr23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may23_avg = monthly_avg(may23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun23_avg = monthly_avg(jun23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul23_avg = monthly_avg(jul23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug23_avg = monthly_avg(aug23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep23_avg = monthly_avg(sep23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
oct23_avg = monthly_avg(oct23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
nov23_avg = monthly_avg(nov23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
dec23_avg = monthly_avg(dec23, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

# 2024
jan24_avg = monthly_avg(jan24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
feb24_avg = monthly_avg(feb24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
mar24_avg = monthly_avg(mar24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
apr24_avg = monthly_avg(apr24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
may24_avg = monthly_avg(may24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jun24_avg = monthly_avg(jun24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
jul24_avg = monthly_avg(jul24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
aug24_avg = monthly_avg(aug24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])
sep24_avg = monthly_avg(sep24, date_col='HST: Hawaii Standard Time (UTC -10:00)',
                        value_cols=['Water Temperature (degF)', 'Salinity (PSU)', 'Turbidity (NTU)', 'Chlorophyll (ug/L)'])

In [13]:
jan21_avg.head()

,month,Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L)
0,2021-01,76.725248,34.604766,7.841165,0.826497

In [15]:
all_avg_dfs = [
    jan21_avg, feb21_avg, mar21_avg, apr21_avg, may21_avg, jun21_avg, jul21_avg, aug21_avg, sep21_avg, oct21_avg, nov21_avg, dec21_avg,
    jan22_avg, feb22_avg, mar22_avg, apr22_avg, may22_avg, jun22_avg, jul22_avg, aug22_avg, sep22_avg, oct22_avg, nov22_avg, dec22_avg,
    jan23_avg, feb23_avg, mar23_avg, apr23_avg, may23_avg, jun23_avg, jul23_avg, aug23_avg, sep23_avg, oct23_avg, nov23_avg, dec23_avg,
    jan24_avg, feb24_avg, mar24_avg, apr24_avg, may24_avg, jun24_avg, jul24_avg, aug24_avg, sep24_avg
]
combined_avg = pd.concat(all_avg_dfs, ignore_index=True)

display(combined_avg)

,month,Water Temperature (degF),Salinity (PSU),Turbidity (NTU),Chlorophyll (ug/L)
0,2021-01,76.725248,34.604766,7.841165,0.826497
1,2021-02,75.839560,34.592329,9.460798,0.747853
2,2021-03,75.649866,34.188063,10.224400,0.671191
3,2021-04,76.281428,34.649473,8.543593,0.490019
4,2021-05,77.765745,34.733523,9.210609,1.157539
5,2021-06,79.330474,34.822433,7.974712,0.812625
6,2021-07,79.166343,34.902915,7.861438,0.821497
7,2021-08,79.430273,34.895984,7.043614,0.636266
8,2021-09,78.825138,35.061055,6.442572,0.764987
9,2021-10,77.673567,35.114616,7.085899,0.819250
10,2021-11,78.214368,35.004086,5.517237,0.812463
11,2021-12,75.562386,34.519685,7.578121,1.048740
12,2022-01,76.591235,34.426098,6.819258,0.904979
13,2022-02,76.110499,35.046894,4.004579,0.669406
14,2022-03,77.389478,35.096105,4.926833,0.627653
15,2022-04,75.974089,35.131212,1.871882,-0.000802
16,2022-05,77.328893,34.985535,0.078234,-0.444991
17,2022-06,78.560743,35.031713,0.963460,-0.431648
18,2022-07,78.511954,34.822720,NaN,NaN
19,2022-08,80.484148,34.864145,NaN,NaN
20,2022-09,80.740154,35.055861,1.275536,-0.202419
21,2022-10,80.482338,34.998811,19.619519,0.184263
22,2022-11,77.345332,35.168129,7.403254,0.159790
23,2022-12,76.644304,34.905859,12.165628,0.241217
24,2023-01,76.851110,34.968204,9.793131,0.197370
25,2023-02,75.200258,34.764269,11.115003,0.163534
26,2023-03,78.078141,34.693343,14.220352,0.318167
27,2023-04,77.850423,34.612607,13.300467,0.277570
28,2023-05,77.544753,34.580363,11.463667,0.162808
29,2023-06,78.536354,34.861183,6.381921,0.133918
30,2023-07,79.294536,34.889116,7.169870,0.173185
31,2023-08,79.488390,35.070532,7.213031,0.165052
32,2023-09,79.420813,35.057481,8.826594,0.191469
33,2023-10,80.673341,35.058711,10.720607,0.214748
34,2023-11,78.335785,34.886518,9.194301,0.221336
35,2023-12,76.090212,34.873455,5.487008,0.196456
36,2024-01,76.482462,34.788821,12.885029,0.203379
37,2024-02,74.267159,35.096763,9.018694,0.168561
38,2024-03,74.852237,35.120039,6.688528,0.165237
39,2024-04,76.179121,35.029622,12.223562,0.224261
40,2024-05,76.691658,35.132459,6.748729,0.149879
41,2024-06,79.132498,35.160102,38.934763,0.982753
42,2024-07,78.912704,35.157312,6.197371,0.772295
43,2024-08,79.588349,35.115605,8.895094,1.424262
44,2024-09,80.639261,35.171181,6.431135,0.860598

In [ ]:
#save to csv
#combined_avg.to_csv('PacIOOS_moanalua.csv', index=False)